:root {
    --main-primary: #7c0c7c;
    --main-primaryDark: #600a60;
    --main-accent: #eeb300;

    --main-text-on-primary: #fff;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    background: var(--main-primary);
    color: var(--main-text-on-primary);
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0 25px;
}


@media only screen and (max-width: 600px) {
    header {
        padding: 0;
        text-align: center;
        grid-template-columns: unset;
        grid-template-rows: auto auto;
    }

    .date-selector {
        padding: 0 20px 20px;
    }
}

.date-selector {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-selector * {
    padding-right: 10px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

@media only screen and (max-width: 800px) {
    main {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
    }
}

#timeline {
    height: 100%;
    z-index: 100;
    overflow: auto;
    min-height: 0;
    min-width: 0;
}

.route-icon {
    height: 22px;
    margin-right: 5px;
}

.stop {
    background-color: #d7d7d7;
}